<style>
    .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
        white-space: normal;
    }
</style>
<ion-view title="{{user.name}}">
    <ion-content has-header="true" padding="true" class="tabs-item-hide">
        <ion-refresher
                pulling-text="Pull for More Message..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item item-avatar" id="message_{{msg.id}}" ng-repeat="msg in messages" 
                  on-hold="onMessageHold($event, $index, message)">
                <img src="{{msg.attributes.from.attributes.avatar}}" height="50" width="50">
                <p style="float: right;">{{ msg.createdAt | date:'short'}}</p>
                <h2>{{msg.attributes.from.attributes.name.split(" ")[0]}}</h2>
                <p>{{msg.attributes.text}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" id="commentBox" placeholder="Type your message" on-return="saveMessage(message); closeKeyboard()" ng-model="message"/>
        </label>
        <button class="button button-icon ion-android-send" ng-disabled="!message || message === ''" ng-click="saveMessage(message)"></button>
    </ion-footer-bar>
    <div id="userObject" style="display: none;">
        {{user}}
    </div>
</ion-view>