<style>
  .padding{
    top:90px;
  }
  select.choice {
      width: 100%;
      color: white;
      background: #ef473a;
      border: #ef473a;
      margin: 10px 0;
      height: 38px;
      font-family: circularBold;
  }
  .item-radio input:checked + .radio-content .item-content{
    background: #ef473a;
    color: white;
    font-family: "circularBold"
  }
  .item-radio input:checked + .radio-content .radio-icon{
    color: white;
    font-family: "circularBold"
  }
  .modal-card{
    margin-top: 70px;
  }
  .claim-info{
    line-height: 30px;
  }  
</style>
<script src="//maps.googleapis.com/maps/api/js&sensor=false"></script>
<ion-view view-title="Odd Even Carpool">
    <ion-tabs class="tabs-top tabs-light">
        <ion-tab title="Explore">
          <ion-content class="has-header has-tabs-top padding">
              <div class="list card">
                <div id="map" data-tap-disabled="true"></div>
              </div>
          </ion-content>
        </ion-tab>        
        <ion-tab title="Browse">
          <ion-content class="has-header has-tabs top padding">
              <div class="list card">
                <p class="padding">People are enrolling - once enrolling is done, we'll be updating this space with cars around - ready to vroom!</p>
              </div>
          </ion-content>          
        </ion-tab>        
    </ion-tabs>
</ion-view>
