<style>
    #map, .list.card {
        width: 100%;
        height: 100%;
    }
    .scroll {
        height: 100%;
    }
    .padding{
        top:90px;
    }
    .me-pin{
        display: inline;
        position: absolute;
        z-index: 999;
        top: 43%;
        left: 45%;
    }
</style>

<script src="//maps.googleapis.com/maps/api/js&sensor=false"></script>
<ion-view view-title="Map" ng-init="centerOnMe()">
    <ion-tabs class="tabs-top tabs-light">
        <ion-tab title="Explore">
            <ion-content class="has-header has-tabs top padding">
                <div class="list card">
                    <img src="img/me.png" alt="" class="me-pin">
                    <div id="map" data-tap-disabled="true"></div>
                </div>
            </ion-content>
        </ion-tab>        
        <ion-tab title="Browse">
          <ion-content class="has-header has-tabs top padding">
                <div class="list card" ng-show="locations.length==0">
                    <div class="item item-avatar">
                        <img src="img/profile.png">
                        <h2>No cars available!</h2>
                        <p>Please check after some time</p>
                    </div>
                </div>
                <div class="list card" ng-show="locations.length>0">
                    <p style="padding:10px">Available cars in your area - we're working on helping you to call'em!</p>
                    <div class="item item-icon-left item-icon-right" ng-repeat="item in locations track by item.userid">
                        <i class="icon ion-model-s"></i>
                        <h2>{{item.platenumber}}</h2>
                        <p>Distance: 2kms</p>
                        <i class="icon ion-ios-telephone-outline"></i>                        
                    </div>                
                </div>
          </ion-content>          
        </ion-tab>        
    </ion-tabs>
</ion-view>