<style>
    #map, .list.card {
        width: 100%;
        height: 100%;
    }
    .scroll {
        height: 100%;
    }
    .padding{
        top:90px;
    }
    .me-pin{
        display: inline;
        position: absolute;
        z-index: 999;
        top: 43%;
        left: 45%;
    }
    .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p{
        white-space: normal;
    }
</style>

<script src="//maps.googleapis.com/maps/api/js&sensor=false"></script>
<ion-view view-title="Map" ng-init="centerOnMe()">
    <ion-tabs class="tabs-top tabs-light">
        <ion-tab title="Explore">
            <ion-content class="has-header has-tabs top padding">
                <div class="list card" data-tap-disabled="true">
                    <img src="img/me.png" alt="" class="me-pin">
                    <div class="map" id="map" data-tap-disabled="true"></div>
                </div>
            </ion-content>
        </ion-tab>        
        <ion-tab title="Browse">
          <ion-content class="has-header has-tabs top padding" scroll="false">
                <div class="list card" ng-show="locations.length==0">
                    <div class="item item-avatar">
                        <img src="img/profile.png">
                        <h2>No cars available!</h2>
                        <p>Please check after some time</p>
                    </div>
                </div>
                <div class="list card" ng-show="locations.length>0">
                    <p style="padding:10px">Available cars in your area - we're working on helping you to call'em!</p>
                    <ion-content>
                        <div class="item item-icon-left item-icon-right" ng-repeat="item in locations track by item.userid">
                            <i class="icon ion-model-s"></i>
                            <h2>{{item.user.name}}</h2>
                            <p>
                                <span>Starts</span>
                                <span ng-show="item.sourcename"> from {{item.sourcename}}</span>
                                <span ng-show="item.departure"> at {{item.departure.split(":00 ").join(" ")}}</span> 
                                <span ng-show="item.destination"> towards Rajbhavan</span>
                                <span ng-show="item.return"> & returns at {{item.return.split(":00 ").join(" ")}}</span>
                            </p>
                            <input type='button' value='Request Ride' class='button button-block button-positive' ng-click='requestRide(item.user)'>
                            <i class="icon ion-ios-telephone-outline" ng-click="contactUser(item)"></i>                        
                        </div> 
                    </ion-content>               
                </div>
          </ion-content>          
        </ion-tab>        
    </ion-tabs>
</ion-view>